https://github.com/intel-isl/open3d_downloads/releases/download/torch1.8.1/torch-1.8.1-cp36-cp36m-linux_x86_64.whl ; python_version == '3.6'
https://github.com/intel-isl/open3d_downloads/releases/download/torch1.8.1/torch-1.8.1-cp37-cp37m-linux_x86_64.whl ; python_version == '3.7'
https://github.com/intel-isl/open3d_downloads/releases/download/torch1.8.1/torch-1.8.1-cp38-cp38-linux_x86_64.whl ; python_version == '3.8'
https://github.com/intel-isl/open3d_downloads/releases/download/torch1.8.1/torch-1.8.1-cp39-cp39-linux_x86_64.whl ; python_version == '3.9'
-f https://download.pytorch.org/whl/lts/1.8/torch_lts.html
torchvision==0.9.1+cu111
tensorboard
