--extra-index-url https://download.pytorch.org/whl/cpu/
torch==1.13.1+cpu ; sys_platform != 'darwin'
torchvision==0.14.1+cpu ; sys_platform != 'darwin'
torch==1.13.1 ; sys_platform == 'darwin'
torchvision==0.14.1 ; sys_platform == 'darwin'
tensorboard
