addict==2.2.1
cachetools==4.1.1
cython==0.29.21
decorator==4.4.2
future==0.18.2
future-fstrings==1.2.0
h5py==2.10.0
joblib==0.16.0
Keras-Preprocessing==1.1.2
matplotlib==3.3.0
nbconvert==5.6.1
numpy==1.18.5
pandas==1.1.0
plyfile==0.7.2
prompt-toolkit==3.0.6
protobuf==3.12.4
pudb==2019.2
PyYAML==5.3.1
requests==2.24.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.4.1
sklearn==0.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
threadpoolctl==2.1.0
torch==1.6.0
torchvision==0.7.0
tqdm==4.48.2
urllib3==1.25.10
yapf==0.30.0
zipp==3.1.0
