addict==2.2.1
cachetools==4.1.1
cython==0.29.21
decorator==4.4.2
future==0.18.2
future-fstrings==1.2.0
h5py==2.10.0
joblib
Keras-Preprocessing==1.1.2
matplotlib
nbconvert
numpy
pandas
plyfile
prompt-toolkit
protobuf
pudb
PyYAML
requests
rsa
scikit-learn
scipy
sklearn
tensorboard
tensorboard-plugin-wit
tensorflow==2.3.0
threadpoolctl
torch
torchvision
tqdm
urllib3
yapf
zipp
